{% load i18n static recaptcha2 bootstrap3 %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Assistant Extension Index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.4.93/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static "css/mdi-bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% recaptcha_init LANGUAGE_CODE %}
</head>

<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">Home Assistant Extension Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "haindex_extension_submit" %}">{% trans "Submit extension" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}">{% trans "Login to submit extension" %}</a>
                    </li>
                {% endif %}
            </ul>
            {% if not hide_search %}
                <form action="{% url "haindex_extension_search" %}" method="get" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="{% trans "Enter search term" %}" aria-label="{% trans "Search" %}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
                </form>
            {% endif %}
        </div>
    </nav>
</header>

<div class="content-container d-flex h-100 mx-auto flex-column">
    <main role="main" class="inner cover">
        {% bootstrap_messages %}

        <div class="align-items-left text-left">
            {% block content %}{% endblock %}
        </div>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('body').bootstrapMaterialDesign();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    });
</script>

</body>
</html>




